PORT=8443
MONGO_URI=mongodb+srv://FalconeCIPP:<falcone@2020>@mycluster.0nfttcu.mongodb.net/falconeCIPP?retryWrites=true&w=majority
JWT_SECRET=R@nd0mStrongJWT!Key2025
ADMIN_SECRET=AdminOnly$Gate987
CORS_ORIGINS=https://localhost:5173,https://falcone-cipp.com

NODE_ENV=production
#(w3Schools, n.d.).